/* banner区域 最大的盒子*/
.banner{
    height: 500px;
    background-color: #f5f5f5;
}
.banner-dingwei{
    position: relative;
    overflow: hidden;
}
.banner-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
    background: rgba(0, 0, 0, .8);/*给元素设置一个80% 不透明的黑色背景*/
    z-index: 999;
}
.arrow-icon {
  width: 16px; 
  height: 16px;
  vertical-align: middle; 
  margin-left: 70px; 
}
.arrow-icon1 {
  width: 16px; 
  height: 16px;
  vertical-align: middle; 
  margin-left: 33px; 
}
.arrow-icon2 {
  width: 16px; 
  height: 16px;
  vertical-align: middle; 
    margin-left: 20px; 
}
.banner-left li{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 36px;
    transition: all .4s;
}
.banner-left li:hover{
    background-color: #27ba9b;
    padding-left: 45px;
}
.banner-left li a{
    font-size: 14px;
    color: #fff;
}
.banner-left .banner-left-first{
    font-size: 16px;
    margin-right: 15px;
}
.banner-right{
    width: 1240px;
    height:500px;
    position: relative;/*待删除*/
}
/* 轮播图上面的圆点：绝对定位到轮播图右下角，Flex 布局让圆点水平排列 */
.banner-dots {
  position: absolute;
  bottom: 20px;   /* 距离轮播图底部的间距 */
  right: 20px;    /* 距离轮播图右侧的间距 */
  display: flex;  /* 水平排列子元素 */
  align-items: center;/* 小圆点垂直居中 */
  gap: 13px;       /* 圆点之间的间距 */
}

/* 单个圆点样式 */
.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%; /* 圆形 */
  background-color: #ccc; /* 未激活时的颜色 */
  cursor: pointer;    /* 鼠标悬停变手型 */
}

/* 激活状态的圆点样式 */
.dot.active {
  background-color: #fff;       /* 激活时的颜色 */
  border: 4px solid #ccc;       /* 激活时的边框（可选，模拟示例效果） */
  width: 22px;
  height: 22px;
}
.arrow-icon01 {
  width: 18px; 
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
}
.fresh{
    margin-top: 48px;
}
.fresh:nth-child(2){
    margin-bottom: 55px;
}
.fresh-hd{
    height: 29px;
    line-height: 29px;
}
.fresh-hd h4{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
.fresh-hd span{
    float: left;
    font-size: 16px;
    color: #999;
    margin-left: 34px;
    margin-top: 6px;
}
.fresh-hd a{
    float: right;
    color: #999;
    margin-top: 6px;
}
.fresh-bd{
    display: flex;
    margin-top: 37px;
}
.fresh-bd li{
    flex: 1;
    height: 405px;
}
.fresh-bd-color{
    background-color: #f0f9f4;
}
.fresh-bd li:nth-child(-n+3){
    margin-right: 8px;
}
.fresh-bd li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.fresh-bd li a span{
    position: absolute;
    top: 18px;
    left: 16px;
    width: 28px;
    height: 51px;
    color: #27ba9b;
    font-size: 18px;
    border:1px solid #27ba9b
}
.fresh-bd li a img{
    width: 100%;
}
.fresh-bd li a h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}
.fresh-bd li a p{
    font-size: 23px;
    color: #9a2e1f;
    margin-top: 10px;
}

/* 商品展示区域-商品价格的￥*/
.fresh-bd li a p i{
    font-size: 17px;
}
/* 展示区域-最下方的文字格式*/
.fresh-bd .fresh-bd-fontcolor{
    font-size: 16px;
    color: #999;
}
.hot{
    padding: 42px 0 45px 0;
    background-color: #f5f5f5;
}
.hot-center{
    margin: 9px 5px 16px 0;
}
/* 箭头的格式*/
.hot-an{
    float: right;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
/* 右边的箭头右外边距*/
.hot-an:last-child{
    margin-right: 10px;
}
/* 右边的箭头*/
.hot-next{
    background-color: grey;
}
/* 右边的箭头鼠标悬停*/
.hot-next:hover{
    cursor: not-allowed;
}
/* 左边的箭头*/
.hot-prev{
    background-color:grey;
}
/* 图片显示区域*/
.hot-bd{
    display: flex;
    width: 100%;
    height: 306px;
    overflow: hidden;
}
/* 里面的图片*/
.hot-bd ul{
    display: flex;
    width: 200%;
    transition: all .5s;
}
/* 里面图片-盒子边距等*/
.hot-bd ul li{
    width: 240px;
}
.hot-bd ul li:nth-child(-n+9){
    margin-right: 10px;
}
/* 单个图片*/
.hot-bd ul li img{
    width: 100%;
    height: 100%;
}
/* 生鲜区域 */
.fish{
    margin-top: 34px;
}
/* 生鲜两字 */
.fish-hd h4{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
/* 查看全部区域 */
.fish-hd-all{
    float: right;
    margin-right:28px; 
    color: #999;
    margin-top: 18px;
}
/* 当前导航区的中间区域 */
.fish-hd-ul{
    float: left;
    margin-left: 580px;
    margin-top: 18px;
}
/* 当前导航区的每个小区域 */
.fish-hd-ul li{
    float: left;
    margin-right: 10px;
}
/* 当前导航区的每个小区域-更加准确一点 */
.fish-hd-ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 7px;
}
/* 当前导航区的每个小区域-选中状态*/
.fish-hd-ul-first{
    background-color: #27ba9b;
    color: #fff;
}
/* 完整的图片展示区 */
.fish-bd{
    display: flex;
    margin-top: 10px;
    height: 610px;
}
/* 左边的图片区域 */
.fish-bd-left{
    display: block;
    width: 240px;
    height: 100%;
}
/* 左边的图片展示区-图片 */
.fish-bd-left img{
    width: 100%;
    height: 100%;
}
/* 右边的图片区域 */
.fish-bd-right{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
/* 右边的图片区域-单个li区域*/
.fish-bd-right li{
    flex: 25%;
    height: 304px;
    padding-left: 8px;
}
/* 最右边的*/
.fish-bd-right li:nth-child(-n+4){
    margin-bottom: 2px;
}
.fish-bd-right-a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding:8px 0 13px 29px;
    border:2px solid transparent;
    overflow: hidden;
}
.fish-bd-right-a:hover{
    border-color:#27ba9b;
}
.fish-bd-right-a img{
    width: 184px;
    height: 184px;
}
/* 金额区域*/
.price{
    font-size: 22px;
    color: #9a2e1f;
}
/* 金额区域-￥*/
.price i{
    font-size: 17px;
}
/* 鼠标悬停底下准备的区域-找相似*/
.fish-bd-right-a:hover .similar{
    transform: translateY(-84px);
}
/* 为相似区域布置大小--相对定位*/
.similar{
    position: absolute;
    bottom: -84px;
    left: 0;
    width: 100%;
    height: 84px;
    background-color: #27ba9b;
    padding: 0 63px 0 54px;
    transition: all .4s;
}
/* 相似区域-找相似*/
.similar span{
    display: block;
    height: 50%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    transition: all .4s;
}
/* 相似区域-找相似悬停后的动作*/
.similar span:hover{
    padding-left: 20px;
}
/* 相似区域-找相似样式*/
.similar span:nth-child(1){
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
/* 相似区域-发现更多宝贝样式*/
.similar span:nth-child(2){
    font-size: 13px;
    border-top: 1px solid #ccc;
}
/* 最新专题区域*/
.latest{
    margin-top: 52px;
    padding: 44px 0 42px 0;
    /*background-color: pink;*/
}
/* 除文字之外的区域*/
.latest-bd{
    display: flex;
    margin-top: 27px;
}
/* 文字和下面显示的区域*/
.latest-bd li{
    position: relative;
    flex: 1;
    background-color: pink;
}
/* 上面的文字样式*/
.latest-bd-eat{
    position: absolute;
    top: 222px;
    left: 15px;
    font-size: 20px;
    color: #fff;
}
/* 下面的文字样式*/
.latest-bd-rash{
    position: absolute;
    top: 255px;
    left: 15px;
    color: #999999;
}
/* 价格区域*/
.latest-bd-price{
    position: absolute;
    top: 232px;
    right: 15px;
    width: 81px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background-color: #fff;
    font-size: 17px;
    color: #9a2e1f;
}
/* 价格￥大小*/
.latest-bd-price i{
    font-size: 14px;
}
/* 最后面的没有右外边距*/
.latest-bd li:nth-child(-n+2){
    margin-right: 11px;
}
.latest-bd li img{
    width: 100%;
}
.latest-bd-like{
    height: 69px;
    line-height: 69px;
    background-color: #fff;
}
.latest-bd-like-1{
    margin: 0 24px 0 17px;
}
.latest-bd-like-2{
    margin-right: 195px;
}
.latest-bd-i{
    font-size: 14px;
    color: #A1A1A1;
}
/* 收藏图标 */
.latest-bd-like-1::before {
    content: '';
    display: inline-block;
    width: 15px; 
    height: 17px; 
    background: url(../uploads/shoucang.png) no-repeat;
    background-size: contain; /* 让图标自适应容器 */
    vertical-align: middle;
    margin-right: 5px; /* 图标与数字的间距 */
}

/* 浏览图标 */
.latest-bd-like-2::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 17px; 
    background: url(../uploads/liulan.png) no-repeat;
    background-size: contain;/* 让图标自适应容器 */
    vertical-align: middle;
    margin-right: 5px; /* 图标与数字的间距 */
}

/* 评论图标 */
.latest-bd-like-3::before {
    content: '';
    display: inline-block;
    width: 15px; 
    height: 17px; 
    background: url(../uploads/pinglun.png) no-repeat;
    background-size: contain;/* 让图标自适应容器 */
    vertical-align: middle;
    margin-right: 5px; /* 图标与数字的间距 */
}


